/* GENERAL
-------------------------------------------------- */
body {
  width: 100%;
  margin: 0 auto;
  position: relative; }

/* NAVIGATION BAR
-------------------------------------------------- */
.navbar, .container {
  background: #262626;
  /*Logo*/ }
  .navbar .collapse li a, .container .collapse li a {
    color: #FFFFFF;
    font-family: 'Bree Serif', serif;
    font-size: 16px; }
    .navbar .collapse li a:hover, .container .collapse li a:hover {
      color: #40BFFF; }
  .navbar .nav .active a, .container .nav .active a {
    background: #40BFFF !important; }
  .navbar .navbar-header a, .container .navbar-header a {
    font-family: 'Ceviche One', cursive;
    font-size: 30px;
    color: #40BFFF; }
    .navbar .navbar-header a:hover, .container .navbar-header a:hover {
      color: #40BFFF; }

#aboutus {
  padding-top: 5%;
  padding-bottom: 30px;
  max-height: 700px;
  color: #262626;
  background-color: #40BFFF; }
  #aboutus .description-2 {
    padding-top: 20px; }

#service {
  padding-top: 5%;
  padding-bottom: 30px;
  max-height: 1200px;
  color: #262626;
  background-color: #FFFFFF; }

#rate {
  padding-top: 5%;
  padding-bottom: 30px;
  max-height: 1200px;
  color: #262626;
  background-color: #40BFFF; }

#contact {
  padding-top: 5%;
  padding-bottom: 30px;
  max-height: 700px;
  color: #262626;
  background-color: #FFFFFF; }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel {
  height: 500px;
  margin-top: 40px;
  background-color: #FFFFFF;
  width: 100%;
  height: 700px; }
  .carousel .carousel-inner .carousel-caption {
    z-index: 10;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 43%;
    left: 0;
    right: 20px;
    bottom: 0; }
  .carousel .item {
    height: 700px;
    background-color: #777; }
  .carousel .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 700px; }

/* Declare heights because of positioning of img element */
.carousel-control {
  height: 700px; }

/* SECTIONS
-------------------------------------------------- */
section {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #262626;
  position: relative;
  /*Rate Section Styling*/ }
  section .row {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify; }
  section .service .service-list, section .row .service-list {
    text-align: justify; }
    section .service .service-list label, section .row .service-list label {
      text-align: left;
      padding-top: 20px;
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 20px; }
  section .service .section-2, section .row .section-2 {
    padding-top: 20px; }
  section h1 {
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    font-size: 42px;
    color: #262626; }
  section .star-line {
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 15px auto; }
  section .img-star {
    margin: 0 auto 40px; }
  section #rate, section .row {
    /* Download Button  */ }
    section #rate h2, section .row h2 {
      font-size: 25px;
      font-weight: bold; }
    section #rate .rate-list li, section .row .rate-list li {
      padding-top: 15px;
      list-style-type: square; }
    section #rate .contact-line, section .row .contact-line {
      padding-top: 30px; }
    section #rate .button-download-container, section .row .button-download-container {
      padding-top: 20px; }
      section #rate .button-download-container .download-button, section .row .button-download-container .download-button {
        width: 50%;
        height: 50px;
        list-style: none;
        background-color: #262626; }
        section #rate .button-download-container .download-button:hover, section .row .button-download-container .download-button:hover {
          background-color: #FFFFFF; }
          section #rate .button-download-container .download-button:hover a, section .row .button-download-container .download-button:hover a {
            color: #000000; }
        section #rate .button-download-container .download-button a, section .row .button-download-container .download-button a {
          text-decoration: none;
          color: #FFFFFF; }
    section #rate .label-download, section .row .label-download {
      padding-top: 40px;
      font-size: 15px; }
  section #contact #map, section .row #map {
    width: 100%;
    height: 400px;
    background: yellow;
    margin-bottom: 50px; }
  section #contact .contact-info h2, section .row .contact-info h2 {
    padding-bottom: 10px; }
  section #contact .contact-info li, section .row .contact-info li {
    list-style: none;
    padding-bottom: 10px; }

/* FOOTER
-------------------------------------------------- */
footer {
  font-family: 'Bree Serif', serif;
  background-color: #262626;
  color: #fff;
  font-size: 10px;
  text-align: center;
  width: 100%;
  padding: 10px;
  height: auto;
  position: relative;
  bottom: 0;
  margin: 0 auto; }

/* RESPONSIVENESS
-------------------------------------------------- */
/*Tablet & Mobile*/
@media only screen and (max-width: 790px) and (min-device-width: 320px) {
  body {
    width: 100%; }
  section {
    width: 100%;
    position: relative;
    margin: 0 auto; }
    section #aboutus, section #contact, section #service, section #rate {
      max-height: 1800px; }
    section .img-store {
      padding-bottom: 20px; }
    section #rate .button-download-container, section .row .button-download-container {
      text-align: center; }
      section #rate .button-download-container .download-button, section .row .button-download-container .download-button {
        width: 100%; }
    section #contact .contact-info, section .row .contact-info {
      margin: 0 auto;
      width: 100%; }
    section #contact #map, section .row #map {
      margin-top: 50px;
      width: 100%; }
  .carousel {
    margin: 0 auto;
    position: relative;
    height: 500px; }
    .carousel .item {
      height: 500px; }
    .carousel .carousel-inner > .item > img {
      width: 100%;
      height: 500px; }
    .carousel .carousel-inner .carousel-caption {
      font-size: 20px;
      position: relative;
      top: 43%; }
  .carousel-control {
    height: 500px; }
  footer {
    position: absolute;
    bottom: -3%; } }
